<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Titillium+Web:wght@900&family=Comfortaa:wght@900&family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
<script src="https://kit.fontawesome.com/3c35f8069e.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="arrow-btn">
    <a href="#"><i class="fas fa-arrow-circle-up fa-3x" style="color: #FF0066"></i></a>  
  </div>
	<header>
	<div class="header">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
  <a class="navbar-brand" href="#"><img src="logo3.png"><span style="color: #fff; font-size: 17px;">Brainstormy</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars" style="color: #ffff"></i>
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-uppercase" >
      <li class="nav-item active">
        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact us</a>
      </li>
    
    </ul>
   <!--  buttons -->
    <ul class="navbar-nav ml-auto text-uppercase" >
      <li class="nav-item active">
        <a class="nav-link" href="/login"><button class="button button1">LOGIN</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"><button class="button button2">SIGNUP</button></a>
      </li>
    </ul>
    </div>
 
  </div>
</nav>
	</div>




	<main id="home">

    <div class = "home-body">
      

        <div class = "home-content">
           <section class="left-sec">
   
       <h1><span style="color:#FF0000">O</span>
        <span style="color:#66CC66; padding-left: 0px;">N</span>
        <span style="color:#FF9966">L</span>
        <span style="color:#FFCCCC">I</span>
        <span style="color:#FF0066">N</span>
        <span style="color:yellow">E</span>
        <br>

        <span style="color:blue">E</span>
        <span style="color:orange">D</span>
        <span style="color:pink">U</span>
        <span style="color:green">C</span>
        <span style="color: violet">A</span>
        <span style="color: brown">T</span>
        <span style="color: red">I</span>
        <span style="color: yellow">O</span>
        <span style="color:lime">N</span>



       </h1>

   <h2> Learning is fun !</h2>
   <p id="tagline">Fasten your seatbelts to dive deeper into whole new world of unconventional learning and fun through games! </p>

   <p> </p>
   <button class="button button3">
     Learn more
   </button>
  </section>


          <div style="width: 100%">
            <img src = "image.png" alt = "">
          </div>
        </div>
      </div>
  
 </main>
 </header>

 <!-- something nice -->
  <div class="container" style="padding: 30px;" id="service">
        <div class="text-center">
            <h2 class="main-title">SERVICES</h2>
        </div>
        <div class="inner-wrapper first">
            <div class="row">
                <div class="col-lg-4 single-block">
                    <div class="service-block">
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <div class="hover-content"></div>
                        <img src="1.png" class="icon-s" alt="">
                        <h5 class="title">
                            <a href="#">Personalize learning</a>
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellat, animi magni vitae
                            sunt quos.</p>
                        <a href="#" class="detail-button">
                            <i class="uis uis-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 single-block">
                    <div class="service-block">
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <div class="hover-content"></div>
                        <img src="2.png" class="icon-s" alt="">
                        <h5 class="title">
                            <a href="#">Trusted courses</a>
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellat, animi magni vitae
                            sunt quos.</p>
                        <a href="#" class="detail-button">
                            <i class="uis uis-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 single-block">
                    <div class="service-block">
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <span class="snow-dot"></span>
                        <div class="hover-content"></div>
                        <img src="3.png" class="icon-s" alt="">
                        <h5 class="title">
                            <a href="#">Tools for students</a>
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellat, animi magni vitae
                            sunt quos.</p>
                        <a href="#" class="detail-button">
                            <i class="uis uis-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<main id="about" style="background-color: #E0B4E5;background-size: cover;">
  <div class = "home-body">
      

        <div class = "home-content">
          <!--  <section class="left-sec"> -->
        <div style="width: 100%">
            <img src = "about.png" alt = "">
        </div>

      <section class="right-sec" style="padding-left: 50px;">
   <h2 class="main-title">ABOUT US</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. </p>
    
    <div class="wrapper">
      <div class="card">
        <div class="circle">
          <div class="bar"></div>
          <div class="box"><span></span></div>
        </div>
        <div class="text">Knowledge</div>
      </div>
      <div class="card js">
        <div class="circle">
          <div class="bar"></div>
          <div class="box"><span></span></div>
        </div>
        <div class="text">Quality</div>
      </div>
      <div class="card react">
        <div class="circle">
          <div class="bar"></div>
          <div class="box"><span></span></div>
        </div>
        <div class="text">Focus</div>
      </div>
    </div>
   
   <button class="button button3">
     Learn more
   </button>
  </section>
   
      
<!--   </section> -->


          
        </div>
  </div>
 <!--  <section class="left-sec">
    <figure>
    <img src="about.png" id="img">
   </figure>
  </section>
  <section class="right-sec" style="padding-left: 50px;">
   <h2 class="main-title">ABOUT US</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. </p>
   <hr>
   <p> </p>
   <button class="button button3">
     Learn more
   </button>
  </section> -->
 </main>

 </section>

 <section class = "contact-section" style="padding-top: 30px;" id="contact">
  <h2 class="main-title" style="padding-left: 30px;">CONTACT US</h2>
 <div class = "contact-body">
      

        <div class = "contact-form">
          <form>
            <div>
              <input type = "text" class = "form-control" placeholder="First Name">
              <input type = "text" class = "form-control" placeholder="Last Name">
            </div>
            <div>
              <input type = "email" class = "form-control" placeholder="E-mail">
              <input type = "text" class = "form-control" placeholder="Phone">
            </div>
            <textarea rows = "5" placeholder="Message" class = "form-control"></textarea>
            <input type = "submit" class = "send-btn" value = "Send message">
          </form>

          <div>
            <img src = "Contact.png" alt = "" style="width:85%">
          </div>
        </div>
      </div>

      <div class = "map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223700.1490386933!2d-97.11558670486288!3d28.829485511234168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864266db2e2dac3b%3A0xeee20d566f63267d!2sVictoria%2C%20TX%2C%20USA!5e0!3m2!1sen!2snp!4v1604921178092!5m2!1sen!2snp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <div class = "contact-footer">
        <h3 style="font-family: 'Poppins', sans-serif;">Follow Us</h3>
        <div class = "social-links">
          <a href = "#" class = "fab fa-facebook-f"></a>
          <a href = "#" class = "fab fa-twitter"></a>
          <a href = "#" class = "fab fa-instagram"></a>
          <a href = "#" class = "fab fa-linkedin"></a>
          <a href = "#" class = "fab fa-youtube"></a><br>
        
        </div>
        <h3 style="font-family: 'Poppins', sans-serif;font-size: 15px;">©Copyright 2021</h3>

      </div>
    </section>









 <!-- end of footer -->
 <script>
      let options = {
        startAngle: -1.55,
        size: 150,
        value: 0.85,
        fill: {gradient: ['#a445b2', '#fa4299']}
      }
      $(".circle .bar").circleProgress(options).on('circle-animation-progress',
      function(event, progress, stepValue){
        $(this).parent().find("span").text(String(stepValue.toFixed(2).substr(2)) + "%");
      });
      $(".js .bar").circleProgress({
        value: 0.70
      });
      $(".react .bar").circleProgress({
        value: 0.60
      });
    </script>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>



</body>
</html>

